/* Corner */
:host {
  width: var(--pg-sidebar-width);
  height: var(--pg-header-height);
  background-color: var(--pg-header-background-color, #f0f0f0);
  z-index: 40;
  position: absolute;
  top: 0;
  left: 0;
}

.columns{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.column {
  flex: 0 0 auto;
  width: var(--pg-local-column-width, 100px);
  padding: 0 5px;
}