/* Corner */
:host {
  width: var(--pg-sidebar-width);
  height: var(--pg-header-height);
  background-color: var(--pg-header-background-color, #f0f0f0);
  z-index: 40;
  position: absolute;
  top: 0;
  left: 0;
}
