/*grid container*/
:host {
  display: block;
  position: absolute;
  left: var(--sidebar-width);
  top: var(--header-height);
  min-width: var(--internal-width);
  min-height: var(--internal-height);
}
