/* Today line 

 TODO verificar si es necesaria esta logica, o si mejor se 
 trata como un plotline (futura implementacion)

*/
:host {
  display: block;
  margin-left: var(--pg-sidebar-width);
  height: var(--pg-internal-height);
  position: absolute;
  width: 0;
}
:host:after {
  margin-left: calc(var(--pg-sidebar-width) + 1px);
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  content: "";
  width: 2px;
  height: 100%;
  background: rgba(183, 28, 28, 0.4);
}
