:host {
  display: block;
  border: 1px solid red;
}

pre {
  padding: 1rem;
  border: 1px solid green;
}

.pg-debug {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  article {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
}
