/* Style for the header top component */

:host {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid var(--pg-header-top-border-color, green);
}

.pg-tabs-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  
  padding:0.25rem 0.25rem 0.25rem 0.5rem;
  gap: 0.25rem;
}

.pg-header-top-left {
  display: flex;
  flex: 1 0 33%;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid var(--pg-header-top-border-color, green);
}

.pg-header-top-center {
  display: flex;
  flex: 1 0 33%;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--pg-header-top-border-color, green);
}

.pg-header-top-right {
  display: flex;
  flex: 1 0 33%;
  align-items: center;
  justify-content: flex-end;
  border: 1px solid var(--pg-header-top-border-color, green);
}
