:host {
  display: block;
  height: calc(var(--pg-item-height) - 1px);
  border-bottom: 1px solid var(--pg-row-sidebar-border-color, #444444);
  background-color: var(--pg-row-sidebar-background-color, #c9c9c9);
}
