:host {
  display: block;
  height: calc(var(--pg-item-height) - 1px);
  border-bottom: 1px solid var(--pg-row-sidebar-border-color, #444444);
  background-color: var(--pg-row-sidebar-background-color, #c9c9c9);
}

.pg-row-sidebar-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.pg-row-sidebar-container .row-title {
  flex: 1 0 auto;
}

.pg-row-sidebar-container .row-title span {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pg-row-sidebar-container .row-content {
  flex: 0 1 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.pg-row-sidebar-container .row-column {
  width: var(--pg-local-column-width, 100px);
  padding: 0 5px; 
}

.pg-row-sidebar-container .row-column input{
  width: calc(100% - 10px);
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid var(--pg-row-sidebar-input-border-color, #888888);
  border-radius: 4px;
  background-color: var(--pg-row-sidebar-input-background-color, #ffffff);
}