/* Tab */
:host {
  display: block;
  border: 1px solid var(--pg-tab-border-color, rgba(0, 0, 0, 0.2));
  border-radius: 3px;
  padding: 0.25rem 1rem;
  cursor: pointer;
  background-color: var(--pg-tab-background-color, rgba(0, 0, 0, 0.1));
  color: var(--pg-tab-color, black);
}

:host(:hover) {
  background-color: rgba(0, 0, 0, 0.3);
}

:host([active]) {
  background-color: var(--pg-tab-border-color, rgba(0, 0, 0, 0.4));
  color: var(--pg-tab-active-color, white);
}
